# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv

# Environment Variables
.env

# IDEs and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
wheels/